/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    background-color: #F1704C;
    color: white;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Sora';
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.pic{
    border-radius: 0px 0px 0px 100px;
    filter: brightness(0.8);
}
.css-abs {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.shadowed {
    box-shadow: 4px 4px 1px 1px #d7e1db;
    border-radius: 8px;
}
img {
    user-select: none;
}
.bordered {
    border-radius: 0px 0px 0px 100px;
}
.area::after{
  content: '';
  position: absolute;
  background: #D7E1DB;
  width: 439.49px;
  height: 220.19px;
  left: 14.2px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border-bottom: 0;
  transform: rotate(3.21deg);
  top: 15px;
}
.rounded-coaching {
  border-radius: 100px 0 0 0 ;
}
.rounded-mentoring  {
  border-radius: 0 0 100px 0  ;
}